
<div class="panel panel-default">
    <div class="panel-body">
        <ol class="breadcrumb">
            <li class="btn"><a href="javascript:void(0)">课程管理</a></li>
            <li class="btn active">课程列表</li>
        </ol>
        <ul class="list-group">
            {{each result}}
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        {{if ($value.cs_cover=="http://static.botue.com/images/cover/?")}}
                        <img src="imgs/course.png" alt="" width="200" height="120"/>
                        {{else}}
                        <img src="{{$value.cs_cover}}" alt="" width="200" height="120"/>
                        {{/if}}

                    </div>
                    <div class="media-body">
                        <h4 cs_id={{$value.cs_id}}>
                            {{$value.cs_name}}
                            <button class="btn btn-success btn-edit-time">编辑课时</button>&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-primary btn-edit-msg">编辑课程信息</button>
                        </h4>
                        <p>———讲师：{{$value.tc_name}}</p>
                        <p>———分类：{{$value.cg_name}}</p>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
